@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

:root{
    --navBar: #11141a;
    --backColor:rgb(234, 236, 239);
    --navLinks: #f5cb5c;
}
*{
    font-family: 'Open Sans', sans-serif;  
}
body{
    height: 100vh;
    position: relative;
    background-color: var(--backColor);
}

 /* navbar bootstrap */
 .navBar{
    background-color: var(--navBar);
}
.menuRight{
    margin-right: 100%;
}
.navbar-toggler {
   border-color:var(--navLinks);
}
li, a, button{
    font-weight: 600px;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    
}
.logo{
    cursor: pointer;
    margin-right: auto ;
    width: 200px;
    height: auto;
}
nav a:hover{ 
    color: var(--navLinks); 
} 

/* quita la parte de onclick en el hamburger */
.navbar-toggler:focus{
    outline: var(--navLinks);
}

/* Main body */
.container{
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* Images  */
img{
    width: 100%;
    height: auto;
    max-width: 600px;
}
.comingSoon{
    margin-top: 40px;
    max-width: 400px;
}
h1{
    margin-top: 15px;
    line-height: 130% ;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
}
/* buttons  */
.btn-scroll{
    display: none; /* Btn display none*/
    position: fixed; /* Fixed/sticky position */
    bottom: 40px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:var(--navBar); /* Set a background color */
    color: var(--navLinks); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    outline: none; /* Make blue line disable*/
  }
  .btn-scroll:focus {outline:0;}
  
  .btn-scroll:hover {
    background-color: #2c2f35; /* Add a dark-grey background on hover */
  }
  .btn-scroll:active { 
      transform: scale(0.98); 
  }
  


/* Media queries  */

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
     .container{
        flex-direction: column-reverse;
        width: 90%;
    }
   h1{
       font-size: 0.9rem;
       text-align: center;
       margin-top: 10px;
   }
   img{
       width: 80%;
   }

}
@media (min-width: 500px){
    img{
        width: 60%;
    }
}

 /* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    img{
        width: 50%;
    }
    h1{
        font-size: 1.2rem;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
   .container{
    flex-direction: row;  
}
   h1{
       margin-top: 40px;
       font-size: 1.5rem;
   } 
}
/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { 

} */

